<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
            button {
                width: 185px;
                height: 30px;
                text-align: center;
                margin-bottom: 15px;
                font-size: 12pt;
                margin-left:10px;
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica05/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 05</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        Ejercicio1:<br>
                        • Desde el “Botón1” crea un evento “onclick” que al pulsar el botón abra una función. Esa función debe
                        de abrir una ventana nueva vacía con un width y height específico. Cambia el texto del botón para
                        que se sepa que hace cuando se pulsa éste.<br><br>
                            <button type="button" onclick="myBoton1()">Abrir Ventana</button><br>
                        • Desde el “Botón2” crea un evento “onclick” que al pulsar el botón abra una función. Esa función debe
                        de cerrar la primera ventana que has abierto. Cambia el texto del botón para que se sepa que hace
                        cuando se pulsa éste.<br><br>
                            <button type="button" onclick="myBoton2()">Cerrar Ventana</button><br>
                        • Desde el “Botón3” crea un evento “onclick” que al pulsar el botón abra una función. Esa función debe
                        de abrir una ventana nueva con la url de w3schools. Cambia el texto del botón para que se sepa que
                        hace cuando se pulsa éste.<br><br>
                            <button type="button" onclick="myBoton3()">Abrir W3School</button><br>
                        • Desde el “Botón4” crea un evento “onclick” que al pulsar el botón abra una función. Esa función debe
                        de cerrar la segunda ventana que has abierto. Cambia el texto del botón para que se sepa que hace
                        cuando se pulsa éste.<br><br>
                            <button type="button" onclick="myBoton4()">Cerrar W3School</button>
                    </p>
                    <p>
                        Ejercicio 2: Desde el “Botón5” crea un evento “onclick” que al pulsar el botón abra una función. Esa función
                        debe de cargar en el documento HTML “padre” (donde están todos los botones), la página web de Google.<br><br>
                            <button type="button" onclick="myBoton5()">Google</button><br>
                    </p>
                    <p>
                        Ejercicio 3:Desde el “Botón6” crea un evento “onclick” que al pulsar el botón abra una función. Esa función
                        debe de escribir en la página “padre” (donde están los botones), el nombre de todas las ventanas nuevas
                        abiertas en este HTML.<br><br>
                            <button type="button" onclick="myBoton6()">HTML</button><br>
                    </p>
                    <p>
                        Ejercicio 4: Desde el “Botón7” crea un evento “onclick” que al pulsar el botón abra una función. Esa
                        función debe de pedir 3 datos numéricos al usuario. Si el usuario introduce un número pulsará aceptar y si
                        no quiere introducir números pulsará cancelar. Debes de mostrar por pantalla finalmente cuántas veces
                        pulsó “Aceptar” y cuántas “Cancelar” y los elementos que escribió.<br><br>
                            <button type="button" onclick="myBoton7()">Juego</button><br>
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>