<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema4/practica00/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 4</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 00</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        1. Crea un array que contenga 10 nombres de animales que le pidas al usuario. Muestra por pantalla los
                        nombres de animales que ha introducido el usuario en un alert() todos juntos.
                    </p>
                    <p>
                        2. Crea dos arrays de materiales (materiales1 y materiales2), en cada array debe haber 5 elementos
                        (elemento1, elemento2, …). Compara el tamaño de los arrays (el número de elementos que tienen) y
                        muestra por pantalla si los arrays son iguales en tamaño o no. Si lo son, muestra el mensaje: “Tienen el
                        mismo número de elementos” y sino lo son, muestra “No tienen el mismo número de elementos”
                    </p>
                    <p>
                        3. Completa el ejercicio 2, comprobando si los elementos de cada array son los mismos. Es decir, además
                        de comprobar que tienen el mismo número de elementos (ejercicio2), comprueba que los dos arrays
                        tienen también los mismos elementos.
                    </p>
                    <p>
                        4. Pide al usuario por teclado una frase y pasa sus caracteres a un array de caracteres. Utiliza métodos de String.
                    </p>
                    <p>
                        5. Crea 1 array que contenga 10 números iguales. Pide al usuario los números y haz las validaciones oportunas.
                    </p>
                    <p>
                        6. Crea un array que contenga números aleatorios entre 0 y 100. El número de números que contiene el
                        array, pídeselo al usuario por teclado. Muestra por pantalla el valor de cada posición del array y la suma
                        de todos los valores del array.
                    </p>
                    <p>
                        7. Crea dos arrays que tengan el mismo tamaño. El tamaño del array pídeselo al usuario. En uno de los
                        arrays almacenaras nombres de personas como cadenas y en el otro array tendrás que almacenar la
                        longitud de los nombres del primer array. Muestra por pantalla el nombre y la longitud que tiene (datos
                        de ambos arrays).
                    </p>
                    <p>
                        8. Crea nuevas propiedades para el objeto Array:<br>
                        • Propiedad “aMaysculas”: Crea una nueva propiedad de Array que permita pasar todos los caracteres
                        introducidos a mayúsculas. Utiliza la propiedad en el ejercicio1 y muestra los animales en mayúsculas
                        utilizándola.<br>
                        • Propiedad “aMinusculas”: Crea una nueva propiedad de Array que permita pasar todos los caracteres
                        introducidos a minúsculas. Utiliza la propiedad en el ejercicio3 y muestra el contenido del primer
                        array de materiales en minúsculas.<br>
                        • Propiedad “PI”. Crea una propiedad de Array que permita utilizar el valor de PI (3.1416) en este script.
                        Utiliza la propiedad en el ejercicio 4 multiplicando cada elemento del array por el valor de PI
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>