<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica01/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 01</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        1. Realiza un script que calcule el área de un cuadrado, triángulo, rectángulo y circunferencia.<br>
                        Pide al usuario los datos necesarios para hacer los cálculos.
                    </p>
                    <p>
                        2. Realiza un script que genere números aleatorios sin que se repitan comprendidos entre 1 y 100. <br>
                        Nota: números es plural, pueden ser 2.
                    </p>
                    <p>
                        3. Realiza un script que genere 4 cuatro números comprendidos entre 1 y 50 y los compare. Muestra los números ordenados de menor a mayor por pantalla.
                    </p>
                    <p>
                        4. Realiza un script que cree un objeto de tipo Number con el valor de PI. Muestra por pantalla el valor de PI con 4 decimales.
                    </p>
                    <p>
                        5. Realiza un script que le pida al usuario números decimales con hasta 5 decimales (4.56675 o 3.4546), formatea la salida para que solamente queden números de 2 decimales y calcula el máximo y el mínimo de los valores introducidos. 
                        Sería recomendable validar que se introducen 5 decimales.
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>