<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
            button {
                width: 185px;
                height: 30px;
                text-align: center;
                margin-bottom: 15px;
                font-size: 12pt;
                margin-left:10px;
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica10/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article id="cont1">
                    <header class="major">
                        <h3>Practica 10</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    
                    <h2> Botones </h2>
                        <button type="button" onclick="myBoton1()">Tipografia</button> 
                    
                    <h3> Objeto Screen </h3>
                        <ol class="lista">
                            <li id="valor1"> </li>
                            <li id="valor2"></li>
                            <li id="valor3"></li>
                            <li id="valor4"></li>
                            <li id="valor5"></li>
                        </ol>
                    <button type="button" onclick="screenBoton()">Screen</button>
                    <h3>Objeto Location</h3>
                        <ol class="lista">
                            <li id="valor6"> </li>
                            <li id="valor7"></li>
                            <li id="valor8"></li>
                            <li id="valor9"></li>
                            <li id="valor10"></li>
                            <li id="valor11"></li>
                            <li id="valor12"></li>
                            <li id="valor13"></li>
                            <li id="valor14"></li>
                        </ol>
                    <button type="button" onclick="locationBoton()">Location</button>
            <br><br>
                    <button type="button" onclick="recargarB()">Recargar</button>
                    <button type="button" onclick="ventanaB()">Nueva Ventana</button>
                    <button type="button" onclick="windowB()">Nueva Window</button>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>