<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../assets/images/cv.png" alt="Cv" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../assets/images/git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../../index.html">DWEC</a></li>
                        <li><a href="../tema1/index.html">Tema 1</a></li>
                        <li><a href="../tema2/index.html">Tema 2</a></li>
                        <li><a href="../tema3/index.html">Tema 3</a></li>
                        <li><a href="../tema4/index.html">Tema 4</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Tema 5</h3>
                    </header>
                    <table>
                        <tr>
                            <th class="one">  </th>
                            <th id="ej">Ejercicio</th>
                            <th id="cd">Enunciado</th>
                        </tr>
                        <tr>
                            <td>00. Práctica 00 - Eventos de ratón 0</td>
                            <td id="ej"><a href="practica00/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica00/enunciado00.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>01. Práctica 01 - Eventos de ratón 1</td>
                            <td id="ej"><a href="practica01/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica01/enunciado01.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>02. Práctica 02 - Eventos de ratón 2</td>
                            <td id="ej"><a href="practica02/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica02/enunciado02.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>03. Práctica 03 - Eventos de teclado 0</td>
                            <td id="ej"><a href="practica03/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica03/enunciado03.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>04. Práctica 04 - Eventos de teclado 1</td>
                            <td id="ej"><a href="practica04/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica04/enunciado04.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>05. Práctica 05 - Eventos</td>
                            <td id="ej"><a href="practica05/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica05/enunciado05.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>06. Práctica 06 - Tres en raya</td>
                            <td id="ej"><a href="practica06/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica06/enunciado06.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>07. Práctica 07 - Memory</td>
                            <td id="ej"><a href="practica07/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema5/practica07/enunciado07.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                    </table>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>
