<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema2/practica03/script.js" type="text/javascript"></script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 2</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 03</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                        <p>
                            1. Crea un pequeño script que compare el número 5 y el número 6. 
                            Comprueba si es mayor uno u otro y muestra la información por pantalla.
                        </p>
                        <p>
                            2. Pídele al usuario que introduzca un número y muestra la siguiente información de ese número:<br>
                            &nbsp;&nbsp;• Si es positivo o negativo
                        </p>
                        <p>
                            3. Pídele al usuario que introduzca un número y muestra la siguiente información de ese número:<br>
                            &nbsp;&nbsp;• Si es distinto de cero o es cero
                        </p>
                        <p>
                            4. Pídele al usuario que introduzca un número y muestra la siguiente información de ese número:<br>
                            &nbsp;&nbsp;• Si es positivo o negativo <br>
                            &nbsp;&nbsp;• Si es distinto de cero o es cero
                        </p>
                        <p>
                            5. Pide al usuario que introduzca un día de la semana por teclado. Si introduce “viernes”, muestra por pantalla la frase ¡fiestaaaa!<br> 
                            Si introduce “lunes” que muestre por pantalla “empezando la semana…”
                        </p>
                        <p>
                            6. Crea un pequeño script que compare dos números que le pides al usuario por pantalla.<br> 
                            Debes de mostrar si los números son iguales, si uno es mayor que otro o menor…
                        </p>
                        <p>
                            7. Crea un pequeño programa compruebe las edades de tres personas diferentes. Las edades debes de pedírselas al usuario por pantalla. 
                            Se debe hacer las siguientes comprobaciones:<br>
                            &nbsp;&nbsp;• Si la edad de persona1 es mayor que la edad de persona2, muestra por pantalla: ¡Que mayor eres!<br>
                            &nbsp;&nbsp;• Si la edad de persona1 es menor que la edad de persona2, muestra por pantalla: ¡uiiiiii!<br>
                            &nbsp;&nbsp;• Si la edad de persona 2 es mayor que la edad de persoan3, muestra por pantalla: ¡Con 5 años todavía hay que ir al cole!<br>
                            &nbsp;&nbsp;• Si la edad de persona 3 es menor que la edad de persona 2, muestra por pantalla: ¡Seguimos en el cole!<br>
                            &nbsp;&nbsp;• Si la edad de persona1 y la edad de persona2 es la misma: ¡Tenéis la misma edad!
                        </p>
                        <p>
                            8. Implementa un pequeño programa en pseudocódigo que lea un número por teclado. Si ese número es
                            menor que 0, saldrá del programa y mostrará por pantalla un mensaje de error “Error, número negativo”. <br>
                            Si es mayor que 0 debe de mostrar la tabla de multiplicar de ese número.
                        </p>
                        <p>
                            9. Diseña un script que pida por teclado tres números. Si el primer número es negativo, debe de mostrar
                            por pantalla el producto de los tres y si no lo es, mostrará por pantalla la suma.
                        </p>
                        <p>
                            10. Crea un script teniendo en cuenta lo siguiente:<br>
                            &nbsp;&nbsp;• Pídele al usuario un número y comprueba si ese valor es mayor que 100.<br>
                            &nbsp;&nbsp;• Pídele al usuario otro número y comprueba si ese número es menor que 50.<br>
                            &nbsp;&nbsp;• Pídele al usuario otro número y comprueba si ese número es igual a 10.<br>
                            &nbsp;&nbsp;• Muestra al final de todo los 4 números introducidos separados por comas en un alert().
                        </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>