<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema4/practica04/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 4</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 04</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        El script tiene que tener la capacidad de almacenar información sobre los vehículos (coches y furgonetas)
                        que vende un concesionario multimarca, si el vehículo está vendido/no vendido/reservado y el nombre,
                        apellidos y DNI de la persona que lo compra en caso de que esté vendido o reservado. Si no está vendido,
                        no figurará dato alguno de comprador.<br>
                        Crea un script que contenga un menú que permita utilizar las siguientes funciones:
                    </p>
                    <p>
                        Función 1: Número de vehículos que se tienen en el concesionario (incluyendo coches y furgonetas)
                    </p>
                    <p>
                        Función 2: Número de vehículos que se tienen en el concesionario (incluyendo coches y furgoneta) y el DNI
                        de la persona que lo ha comprado o reservado.
                    </p>
                    <p>
                        Función 3: Número de coches de una marca en concreto. Se le pedirá al usuario la marca que quiere conocer
                        la información y se mostrará por pantalla el número de vehículos que el concesionario tiene de esa marca
                        sin vender ni reserva, es decir disponibles.
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>