<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica03/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 03</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        Opción 1. Pide dos cadenas al usuario y compruebe carácter a carácter si las cadenas introducidas son exactamente iguales. 
                        Si las cadenas no tienen la misma longitud, el script debe dar un error y no comprobar nada.
                    </p>
                    <p>
                        Opción 2: Pide al usuario por pantalla un número determinado de caracteres de forma seguida (no hay límite de caracteres establecido), tu script debe dividir todo lo que ha introducido en dos partes (dos cadenas) y comprobar si esas dos partes son iguales.
                        Es decir: introduce holahola, son 8 caracteres, dividir entre dos y comprobar que “hola” y “hola” son iguales. Si el número de caracteres introducido no se puede dividir a partes iguales, añade un espacio al final y cuando muestres la información final indícalo.
                    </p>
                    <p>
                        Opción 3: Pídele al usuario que introduzca una frase que contenga al menos 5 palabras, mientras no la introduzca sigue pidiéndosela. 
                        Cuando la haya introducido comprueba si son iguales todos los primeros caracteres de todas las palabras y si es así, muestra por pantalla el ok, sino es así, muestra por pantalla los caracteres que has encontrado.<br>
                        &nbsp;a. Ejemplo: hola hola hola hola hola -> Ok<br>
                        &nbsp;b. Ejemplo2: hola pepe maria juan serafin -> 1º palabra: h, 2º palabra: p, 3º palabra: m, 4º palabra: j, 5º palabra: s
                    </p>
                    <p>
                        Opción 4: Pide al usuario una frase de la longitud que el usuario quiera (no hay límite) y muestra por pantalla las veces que aparecen las vocales, debes de identificar en mayúsculas y minúsculas y mostrar la información.<br>
                        &nbsp;a. Ejemplo: Si el usuario introduce “ala” debe mostrar que tiene 2 a <br>
                        &nbsp;b. Ejemplo: Si el usuario introduce “alaaAA” debe mostrar que tiene 3 a y 2 A
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>