<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema4/practica06/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 4</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 06</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <h3>PARTE A</h3>
                    <p>
                        El script tiene que tener la capacidad de almacenar/gestionar información sobre los libros que ha editado
                        una editorial.<br>
                        Se debe guardar de cada libro la siguiente información: título, autor, número de páginas, ISBN, temática.
                        La editorial trabaja con libros de diferentes temáticas: informática, biología, artes plásticas y legislación y
                        hay diferentes autores de cada temática.<br>
                        Debe de aparecer un menú que realice las siguientes funciones:
                    </p>
                    <p>
                        Opción 1: Añadir un nuevo libro pidiéndole al usuario los datos necesarios con sus correspondientes validaciones.
                    </p>
                    <p>
                        Opción 2: Eliminar un libro que el usuario elija (identificación a través de preguntas al usuario y se deben realizar las comprobaciones necesarias).
                    </p>
                    <p>
                        Opción 3: Modificación de datos de un libro en concreto, se debe de reconocer por ISBN y el script tiene que
                        tener la capacidad de hacer modificaciones en todos los datos del libro.
                    </p>
                    <p>
                        Opción 4: Número de libros de una temática en concreto. Se le preguntará al usuario de qué temática quiere
                        que se visualice el número de libros y se visualizará el número.
                    </p>
                    <h3>PARTE B</h3>
                    <p>
                       La editorial tiene comerciales categorizados por temáticas de los libros (el comercial de la temática de
                       informática no tiene porque ser el mismo que el comercial de la temática de biología).<br>
                        También se debe identificar de alguna forma las características físicas del libro, es decir, si es de tapa
                        dura/blanda y el número de edición.<br>
                        Debes de añadir al menú las siguientes funciones:
                    </p>
                    <p>
                        Opción 5: Nombres de los comerciales de una temática en concreto que el usuario introduce por pantalla.
                    </p>
                    <p>
                        Opción 6: Visualiza la información completa de un libro completo.
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>