<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
            button {
                width: 185px;
                height: 30px;
                text-align: center;
                margin-bottom: 15px;
                font-size: 12pt;
                margin-left:10px;
            }
            table, tr, td{
                border: 2px solid black;
                border-collapse: collapse;
            }
            td{
                padding: 30px;
            }
            
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica11/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article id="cont1">
                    <header class="major">
                        <h3>Practica 11</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <table>
                        <tr id="fila1">
                            <td id="cubo1" onclick="cubo1()"></td>
                            <td id="cubo2" onclick="cubo2()"></td>
                            <td id="cubo3" onclick="cubo3()"></td>
                            <td id="cubo4" onclick="cubo4()"></td>
                        </tr>
                        <tr id="fila2">
                            <td id="cubo5" onclick="cubo5()"></td>
                            <td id="cubo6" onclick="cubo6()"></td>
                            <td id="cubo7" onclick="cubo7()"></td>
                            <td id="cubo8" onclick="cubo8()"></td>
                        </tr>
                    </table>
                    
                    <button type="button" onclick="myBoton1()">Boton 1</button>

                    <span id="texto1"></span>
                    <br>
                    <button type="button" onclick="myBoton2()">Boton 2</button>
                    <br>
                    <button type="button" onclick="myBoton3()">Boton 3</button>
                    <br>
                    <button type="button" onclick="myBoton4()">Boton 4</button>
                    <br>
                    <button type="button" onclick="recargarB()">Recargar</button>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>