<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
            button {
                width: 185px;
                height: 30px;
                text-align: center;
                margin-bottom: 15px;
                font-size: 12pt;
                margin-left:10px;
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica07/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 07</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <h2> Formularios </h2>
                        <form id="form1"> 

                        </form>
                        <form id="form2">

                        </form>
                    <h2> Imagenes </h2>
                        <img src="../../../assets/images/tema3/practica07/img1.jpg" title="Arbol" alt="Arbol" width="300">
                        <img src="../../../assets/images/tema3/practica07/img2.jpg" title="Fuego"  width="300">
                        <img src="../../../assets/images/tema3/practica07/img3.jpg" title="Mar" alt="Mar" width="300">
                        
                    <h2> Enlaces a </h2>
                        <a href="https://www.w3schools.com/" title="enlace a W3school" alt="enlace a W3school">Visit W3Schools.com!</a><br>
                        <a href="https://www.php.net/manual/es/intro-whatis.php" title="enlace a PHP" alt="enlace a PHP">PHP</a><br>
                        <a href="https://www.amazon.es/" title="enlace a Amazon" alt="enlace a Amazon">Amazon</a><br>
                        <a href="https://www.instagram.com/designs_naj/" title="enlace a @designs_naj" alt="enlace a @designs_naj">@designs_naj</a>
                        
                    <h2> Enlaces a name </h2>    
                        <a name="a1" href="https://www.w3schools.com/" title="enlace a W3school" alt="enlace a W3school">Visit W3Schools.com!</a><br>
                        <a name="a2" href="https://www.php.net/manual/es/intro-whatis.php" title="enlace a PHP"alt="enlace a PHP">PHP</a><br>
                        <a name="a3" href="https://www.amazon.es/" title="enlace a Amazon" alt="enlace a Amazon">Amazon</a><br>
                        <a name="a4" href="https://www.instagram.com/designs_naj/" title="enlace a @designs_naj" alt="enlace a @designs_naj">@designs_naj</a>
                        
                    <h2> Parrafos </h2>  
                        <p id="uno"></p>
                        <p id="dos"></p>
                        <p id="tres" class="verde"></p>

                    <h2> Botones </h2>
                        <button type="button" onclick="myBoton1()">Boton 1</button><br>
                        <button type="button" onclick="myBoton2()">Boton 2</button><br>
                        <button type="button" onclick="myBoton3()">Boton 3</button><br>
                        <button type="button" onclick="myBoton4()">Boton 4</button><br>
                        
                       <button type="button" onclick="ejercicio1()">Ejercicio 1</button><br>
                       <span id="num01"></span><br>
                       <button type="button" onclick="ejercicio2()">ejercicio 2</button><br> 
                       <span id="num02"></span><br>
                       <span id="num03"></span>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>