<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../assets/images/cv.png" alt="Cv" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../assets/images/git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../../index.html">DWEC</a></li>
                        <li><a href="../tema2/index.html">Tema 2</a></li>
                        <li><a href="../tema3/index.html">Tema 3</a></li>
                        <li><a href="../tema4/index.html">Tema 4</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Tema 1</h3>
                    </header>
                    <table>
                        <tr>
                            <th class="one">  </th>
                            <th id="ej">Ejercicio</th>
                            <th id="cd">Enunciado</th>
                        </tr>
                        <tr>
                            <td>00. Práctica 00 - Navegadores Web</td>
                            <td id="ej"><a href="../../assets/docs/tema1/practica00/ejercicio00.pdf" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema1/practica00/enunciado00.pdf"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>01. Práctica 01 - HTML</td>
                            <td id="ej"><a href="practica01/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema1/practica01/enunciado01.pdf"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>02. Práctica 02 - HTML basic</td>
                            <td id="ej"></td>
                            <td id="cd"><a href="../../assets/docs/tema1/practica02/enunciado02.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                            <tr>
                                <td class="subE">HTML basic 01</td>
                                <td id="ej"><a href="practica02/ejercicio01/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                                
                            </tr>
                            <tr>
                                <td class="subE">HTML basic 02</td>
                                <td id="ej"><a href="practica02/ejercicio02/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML basic 03</td>
                                <td id="ej"><a href="practica02/ejercicio03/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML basic 04</td>
                                <td id="ej"><a href="practica02/ejercicio04/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML basic 05</td>
                                <td id="ej"><a href="practica02/ejercicio05/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML basic 06</td>
                                <td id="ej"><a href="practica02/ejercicio06/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                        <tr>
                            <td>03. Práctica 03 - HTML up</td>
                            <td id="ej"></td>
                            <td id="cd"><a href="../../assets/docs/tema1/practica03/enunciado03.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                            <tr>
                                <td class="subE">HTML up 01</td>
                                <td id="ej"><a href="practica03/ejercicio01/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML up 02</td>
                                <td id="ej"><a href="practica03/ejercicio02/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML up 03</td>
                                <td id="ej"><a href="practica03/ejercicio03/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML up 04</td>
                                <td id="ej"><a href="practica03/ejercicio04/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">HTML up 05</td>
                                <td id="ej"><a href="practica03/ejercicio05/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>    
                        <tr>
                            <td>04. Práctica 04 - JavaScript Inicial</td>
                            <td id="ej"></td>
                            <td id="cd"><a href="../../assets/docs/tema1/practica04/enunciado04.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                            <tr>
                                <td class="subE">Práctica A</td>
                                <td id="ej"><a href="practica04/ejercicioA/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">Práctica B</td>
                                <td id="ej"><a href="practica04/ejercicioB/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr> 
                        <tr>
                            <td>05. Práctica 05 - Diseño web y Desarrollo web</td>
                            <td id="ej"></td>
                            <td id="cd"><a href="../../assets/docs/tema1/practica05/enunciado05.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                            <tr>
                                <td class="subE">Diseño Web</td>
                                <td id="ej"><a href="../../assets/docs/tema1/practica05/ejercicio05.pdf" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">Desarrollo Web</td>
                                <td id="ej"><a href="practica05/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr> 
                         <tr>
                             <td><strong>EXTRA</strong></td>
                            <td id="ej"></td>
                        </tr>
                            <tr>
                                <td class="subE">Práctica A</td>
                                <td id="ej"><a href="../../assets/docs/tema1/extra/practicaA/ejercicioA.pdf" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                                <td id="cd"><a href="../../assets/docs/tema1/extra/practicaA/enunciadoA.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">Práctica B</td>
                                <td id="ej"><a href="extra/practicaB/index.html" target="_blank"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            </tr> 
                    </table>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>
