<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ariel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS -->
        <link href="webroot/css/estilos.css" rel="stylesheet" type="text/css">
        <style>
            
        </style>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <input type="radio" id="btn" name="barras" class="btn">
                    <label for="btn" class="lbtn"></label>
                    <input type="radio" id="close" name="barras" class="barras">
                        <ul class="menu">
                            <li><label for="close" class="close"><a>X</a></label></li>
                            <li><a href="#">Articulos</a>
                                <ul class="sbm1">
                                    <li><a href="#">Chapas</a></li>
                                    <li><a href="#">Llaveros</a></li>
                                    <li><a href="#">Pegatinas</a>
                                    <li><a href="#">Imanes</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                   </nav>
                    <a href="#"><img src="webroot/media/images/logo.png" alt="Logo" width="75" class="icono_logo"/></a>
                    <a href="#"><img src="webroot/media/images/user.png" alt="Usuario" width="35" class="icono_user"/></a>
                    <a href="#"><img src="webroot/media/images/carro.png" alt="Carrito" width="35" class="icono_carro"/></a>
            </header>
            <div class="left"></div>
            <article>
                <div class="box">
                    <div class="mc">
                        <img class="img" src="webroot/media/images/chapa.png"" alt="Chapas">
                        <div class="titulo">
                            <h3>CHAPAS</h3>
                        </div>
                    </div>
                    <div class="mc">
                        <img class="img" src="webroot/media/images/llavero.png" alt="Llaveros">
                        <div class="titulo">
                            <h3>LLAVEROS</h3>
                        </div>
                    </div>
                    <div class="mc"> 
                        <img class="img" src="webroot/media/images/pega.png" alt="Pegatinas">
                        <div class="titulo">
                            <h3>PEGATINAS</h3>
                        </div>
                    </div>
                    <div class="mc">
                        <img class="img" src="webroot/media/images/iman.png" alt="Imanes">
                        <div class="titulo">
                            <h3>IMANES</h3>
                        </div>
                    </div>
                </div>
            </article>
            <div class="right"></div>
            <footer>
                <div class="icono_left">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                </div>
                <div class="icono_total">
                    <a href="#"><img src="webroot/media/images/twitter.png" alt="Twitter" width="30" class="icono_twitter"/></a>
                    <a href="#"><img src="webroot/media/images/insta.png" alt="Instagram" width="30" class="icono_insta"/></a>
                    <a href="#"><img src="webroot/media/images/face.png" alt="Facebook" width="30" class="icono_face"/></a>
                    <a href="#"><img src="webroot/media/images/gmail.png" alt="Gmail" width="30" class="icono_gmail"/></a>   
                    <a href="#"><img src="webroot/media/images/movil.png" alt="Telefono" width="30" class="icono_movil"/></a>
                </div>
                <div class="icono_right">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                </div>
            </footer>
        </div>
    </body>
</html>
