<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" src="../../../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../assets/images/cv.png" alt="Cv" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../assets/images/git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../../index.html">DWEC</a></li>
                        <li><a href="../tema1/index.html">Tema 1</a></li>
                        <li><a href="../tema2/index.html">Tema 2</a></li>
                        <li><a href="../tema4/index.html">Tema 4</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Tema 3</h3>
                    </header>
                    <table>
                        <tr>
                            <th class="one">  </th>
                            <th id="ej">Ejercicio</th>
                            <th id="cd">Enunciado</th>
                        </tr>
                        <tr>
                            <td>00. Práctica 00 - Tipos de datos</td>
                            <td id="ej"><a href="practica00/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica00/enunciado00.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>01. Práctica 01 - Objeto predefinido Math y Number</td>
                            <td id="ej"><a href="practica01/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica01/enunciado01.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>02. Práctica 02 - Objetos - Date, Math y Number</td>
                            <td id="ej"><a href="practica02/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica02/enunciado02.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>03. Práctica 03 - Objeto predefinido String</td>
                            <td id="ej"><a href="practica03/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica03/enunciado03.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>04. Práctica 04 - Objeto predefinido String</td>
                            <td id="ej"><a href="practica04/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica04/enunciado04.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>05. Práctica 05 - Window 1</td>
                            <td id="ej"><a href="practica05/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica05/enunciado05.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>06. Práctica 06 - Window 2</td>
                            <td id="ej"><a href="practica06/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica06/enunciado06.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>07. Práctica 07 - Objeto Document 1</td>
                            <td id="ej"><a href="practica07/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica07/enunciado07.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>08. Práctica 08 - Objeto Document 2</td>
                            <td id="ej"><a href="practica08/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica08/enunciado08.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>09. Práctica 09 - Objeto Navigator</td>
                            <td id="ej"><a href="practica09/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica09/enunciado09.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>10. Práctica 10 - Objeto Navigator</td>
                            <td id="ej"><a href="practica10/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica10/enunciado10.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>11. Práctica 11 - Objeto BOM</td>
                            <td id="ej"><a href="practica11/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica11/enunciado11.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>12. Práctica 12 - – Maquetar estilos HTML</td>
                            <td id="ej"><a href="practica12/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica12/enunciado12.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>13. Práctica 13 - Semáforo moderno</td>
                            <td id="ej"><a href="practica13/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica13/enunciado13.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                            <td>14. Práctica 14 - Ascensores</td>
                            <td id="ej"><a href="practica14/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                            <td id="cd"><a href="../../assets/docs/tema3/practica14/enunciado14.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                        </tr>
                        <tr>
                             <td><strong>EXTRA</strong></td>
                            <td id="ej"></td>
                        </tr>
                            <tr>
                                <td class="subE">Práctica A</td>
                                <td id="ej"><a href="extra/practicaA/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                                <td id="cd"><a href="../../assets/docs/tema3/extra/practicaA/enunciadoA.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                            </tr>
                            <tr>
                                <td class="subE">Práctica B</td>
                                <td id="ej"><a href="extra/practicaB/index.html"><img src="../../assets/images/ejecutar.png" width="25" class="icono"></a></td>
                                <td id="cd"><a href="../../assets/docs/tema3/extra/practicaB/enunciadob.pdf" target="_blank"><img src="../../assets/images/mostrar.png" width="25" class="icono"></a></td>
                            </tr>
                    </table>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>
