<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema2/practica04/script.js" type="text/javascript"></script>      
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 2</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 04</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                        <p>
                            1. Pide al usuario que introduzca por pantalla un número que corresponda al número de día de la
                            semana (1 al 7). Si introduce un número fuera de ese rango, debe de aparecer un error y salirse del
                            programa. <br>Si introduce el número 1, debe de mostrar por pantalla “Lunes” y así sucesivamente.
                        </p>
                        <p>
                            2. Pide al usuario que introduzca por pantalla un carácter, si tu script reconoce ese carácter, muestra
                            por pantalla el carácter que ha reconocido. Tu script debe de reconocer vocales mayúsculas y
                            minúsculas (sin tilde).
                        </p>
                        <p>
                            3. Crea un script sencillo que pida al usuario su edad y dependiendo de la edad que introduzca, salga
                            un mensaje por pantalla u otro.<br> Controla que lo que introduce el usuario es un número y si
                            introduce algo que no es un número, muestra un error por pantalla.<br>
                            &nbsp;&nbsp;• Si introduce una edad comprendida entre 0 y 12 años -> Muestra por pantalla “Educación
                            primaria”.<br>
                            &nbsp;&nbsp;• Si introduce una edad comprendida entre 13 y 18 años -> Muestra por pantalla “Educación
                            secundaria”.<br>
                            &nbsp;&nbsp;• Si introduce una edad comprendida entre 18 y 65 años -> “Edad de vida laboral”.<br>
                            &nbsp;&nbsp;• Si introduce por pantalla un edad superior a 65, muestra por pantalla -> “Jubilación”.
                        </p>
                        <p>
                            4. Un usuario compra en una tienda online productos para mascotas, como respuesta de fidelización a
                            la hora de pagar tienen la opción de aplicar un código de descuento que dependiendo de que
                            código sea se aplica un descuento u otro.<br>
                            Debes de mostrarle información por pantalla de los productos que tiene la tienda (3 productos con
                            sus correspondientes precios con IVA) y luego aplicar el descuento en el caso de que exista.
                            Estos son los códigos de descuento aplicables<br>
                            &nbsp;&nbsp;• HOLA1: descuento del 15% del total de productos que ha comprado.<br>
                            &nbsp;&nbsp;• BIENVENIDA1: descuento el 12% del total de productos que ha comprado.<br>
                            &nbsp;&nbsp;• AFILIADO: descuento del 20% del total de productos que ha comprado.
                        </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>