<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema2/practica07/script.js" type="text/javascript"></script>       
    </head>

    <body onload="startTime()"> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 2</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 07</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                        <p>
                    1. Crea un script que pida la edad y el sexo de 10 personas y muestre por pantalla finalmente información
                    de cada persona en un único mensaje.
                </p>
                <p>
                    2. Crea un script que lea números enteros hasta que el usuario introduzca un número 0. Finalmente debe
                    mostrar el número máximo, el mínimo y la media de todos ellos. Debes de controlar que introduzca
                    números y no cualquier otro carácter.
                </p>
                <p>
                    3. Crea un script que permita validar una clave introducida por el usuario y tenga 3 intentos para
                    introducirla bien. Si no la introduce bien, le da error y se sale del programa. La clave debe ser un
                    número de 6 dígitos.
                </p>
                <p>
                    4. Crea un script que cuente la cantidad de vocales que se encuentran dentro de un texto introducido por el usuario.
                </p>
                <p>
                    5. Crea un script que calcule las calificaciones de un grupo de alumnos. El profesor tendrá que introducir
                    el número de alumnos que va a gestionar el script.<br>
                    La nota final de cada alumno se calcula según el siguiente criterio:<br>
                    a. Parte práctica 40%<br>
                    b. Parte teórica 30%<br>
                    c. Actitud 10%<br>
                    El script leerá el nombre del alumno y su número de expediente y las notas obtenidas en cada parte.
                    Finalmente mostrará el resultado de todos los alumnos y una media de la nota final y una media de
                    cada parte.
                </p>
                <p>
                    6. Escribe un script que muestre por pantalla los múltiplos de 2 que hay entre dos números que pides al
                    usuario. El segundo número tiene que ser mayor o igual que el primer número.
                </p>
                <p>
                    7. Escribe un script que calcule la suma de los números pares y los números impares de los números
                    comprendidos entre 1 y 100. El 1 y el 100 no se tienen en cuenta.
                    
                </p>
                <p>
                    8. Escribe un script que calcule la suma de los números pares y la suma de los números impares
                    comprendidos entre dos números que le pides al usuario. Es decir, el usuario introduce por ejemplo el
                    45 y el 89 y debes de mostrar la suma de los números pares comprendidos entre el 45 y el 89 y por otro
                    lado la suma de los números impares. No contar extremos, es decir, el 45 y el 89 en este caso no se
                    tienen en cuenta.
                </p>
                <p>
                    9. Crea un script que cuente las veces que aparece una determinada letra en una frase que el usuario
                    introduce por teclado.
                    
                </p>
                <p>
                    10. Crea un script que simule el funcionamiento de un reloj digital y que permita ponerlo en hora.
                </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>