<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica02/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 02</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        Opción 1: Se tiene que generar un número aleatorio entre 1 y 500 y comprobar si el número generado es capicúa. Debe aparecer por pantalla el número aleatorio que se ha generado y si es capicúa o no. 
                        El número que introduce el usuario no tiene limitación de longitud, es decir, puede introducir el número que quiera.
                    </p>
                    <p>
                        Opción 2: Pídele al usuario que introduzca un número de 4 cifras, comprueba que ese número es positivo y no tiene decimales. Si introduce un valor no válido, pídele otra vez el número hasta que introduzca uno válido.
                        Luego comprueba si el número introducido es capicúa o no, si lo es, muéstralo por pantalla, sino lo es, pídele otro y vuelve a comprobar que es un valor correcto y que es capicúa. 
                        El script finaliza cuando ha introducido dos números capicúas con formato adecuado.
                    </p>
                    <p>
                        Opción 3: Pídele al usuario que introduzca un día y un mes de lo que queda de año (teniendo en cuenta que se admiten fechas del 1 de noviembre al 31 de diciembre de 2020). Luego pídele que inserte una cantidad en euros asignado a cada día, teniendo en cuenta que máximo podrá insertar 7 cantidades/7días. 
                        Puede introducir cantidades enteras o decimales.<br>
                        Debes de sumar todas las cantidades que ha introducido y redondear la cantidad obtenida.<br>
                        Haz todas las comprobaciones oportunas para cerciorarte que introduce datos válidos acorde al enunciado y ten en cuenta que no todos los meses tienen el mismo número de días.
                    </p>
                    <p>
                        Opción 4: Pídele al usuario que introduzca 5 números decimales y comprueba que introduce números de este tipo.
                        Después extrae la parte entera de todos los números decimales que ha introducido, súmalas y muestra por pantalla el resultado de la suma de estos números.
                    </p>
                    <p>
                        Opción 5: Muestra los números primos que hay entre 1 y 100, ambos incluidos en un alert de forma conjunta
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>