<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema4/practica01/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 4</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 01</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        1. Crea un script que contenga información de profesores, asignaturas y número de alumnos de los ciclos de
                        Informática del IES Los Sauces de Benavente. Debes de utilizar un array para profesores, otro para
                        asignaturas y otro para alumnos y gestionarlos conjuntamente.
                        El script debe de mostrar por pantalla qué asignaturas imparte cada profesor y cuántos alumnos tiene por
                        aula.<br>
                        &nbsp;Ejemplo:
                        &nbsp;&nbsp;• Leticia imparte DWEC y tiene 20 alumnos en clase.<br>
                        &nbsp;&nbsp;• Amor imparte Entornos y tiene 20 alumnos en clase.<br>
                        &nbsp;Debes de tener en cuenta:<br>
                        &nbsp;&nbsp;• 1 profesor imparte 1 asignatura.<br>
                        &nbsp;&nbsp;• Para mantener la lógica del ejercicio, es importante que los arrays tengan la misma longitud. Haz
                        todas las comprobaciones oportunas.
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>