<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="author" content="Nerea Álvarez Justel">
        <meta name="application-name" content="Sitio Web">
        <meta name="description" content="Desarrollo del segundo curso de DAW">
        <meta name="robots" content="index, follow" />
            <title>DAW. Nerea Álvarez Justel</title>
<!-- CSS -->
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css">
<!-- Favicon -->
        <link rel="icon" href="../favicon.png" type="x-icon">
<!-- Tipografía -->
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
        <style>
            tr:hover{
                filter: drop-shadow(2px 2px 2px #ffffff);
            }
        </style>
<!-- JS -->        
        <script src="../../../js/tema3/practica00/script.js"> </script>       
    </head>

    <body> 
<!-- Header -->
        <header id="header">
            <a href="../doc/cv.pdf" target="_blank"><img src="../../../assets/images/cv.png" alt="LinkedIn" width="55" class="icono_link"/></a>
            <a href="../index.html"><img src="../../../assets/images/logo.png" alt="Logo" width="150" class="icono_logo"/></a>
            <a href="https://github.com/N18AJ" target="_blank"><img src="../../../assets/images//git.png" alt="GitHub" width="65" class="icono_git"/></a>
        </header>


<!-- Main -->
        <div id="main">
              
        <!-- Tiles -->
            <section class="tiles">
                 <!-- NAV -->
                <nav class="segunda_header" id="menu">
                    <ul>
                        <li><a href="../index.html">Tema 3</a></li>
                    </ul>
                </nav>
                <article>
                    <header class="major">
                        <h3>Practica 00</h3>
                    </header>
                    <h1>Nerea Álvarez Justel - nerea.alvjus@educa.jcyl.es</h1>
                    <p>
                        1. Realiza un script que escriba en el documento la fecha y hora actual. La salida deberá tener el siguiente
                        formato:<br>
                        Hoy es “dia de la semana” “número” de “mes” de “año” y son las “hora:minutos:segundos”
                    </p>
                    <p>
                        2. Realiza un script que cree un objeto con los siguientes datos: 3 de octubre de 2020, 16:05:00 y muestra
                        la información por pantalla igual que en el ejercicio1.
                    </p>
                    <p>
                        3. Convierte a formato local, las fechas/horas de los ejercicios 1 y 2.
                    </p>
                    <p>
                        4. Realiza un script que pida un número al usuario e indique el tiempo que se tardó en introducir los datos
                        desde que se le pide hasta que lo introduce. Muestra la información en segundos, algo parecido a esto:<br>
                        Has tardado en introducir el número 45 segundos.
                    </p>
                    <p>
                        5. Realiza un script que pida un mes y año e imprima su calendario. Olvídate de “calendarios bonitos”,
                        muestra la información:<br>
                        OCTUBRE – 2020: 1 (jueves), 2 (viernes), ….. , 31 (sábado).
                    </p>
                    <p>
                        6. Pídele al usuario una fecha concreta que sea lejana y muéstrale por pantalla cuanto tiempo queda para ese día.
                    </p>
                    <p>
                        7. Crea un script que le pida al usuario una fecha concreta de nacimiento (dd/mm/aa). Comprueba que ha
                        introducido valores correctos y devuelve la fecha 500 días posterior.
                    </p>
                    <p>
                        8. Crea un script que muestre la hora en España y la diferencia con UTC
                    </p>
                    <p>
                        9. Crea un script que pida por pantalla la fecha de nacimiento (dd/mm/aa). Comprueba que ha
                        introducido valores correctos y muestra los años, meses y días que han pasado desde su nacimiento.
                    </p>
                    <p>
                        10. Crea un script que pida la fecha de cumpleaños de los niños de una clase de Primaria de un colegio que
                        tiene 20 alumnos. El programa tiene que agrupar por trimestres los cumpleaños de los niños, es decir:
                        los niños que nazcan de oct-nov-dic (1º trimestre), ene-feb-mar(2º trimestre), abril-may-junio (3º
                        trimestre) y julio-agost-sept (4º trimestre). Debe de mostrar por pantalla el nombre y el primer apellido
                        de todos los niños agrupados por trimestres y si un trimestre tiene más de 5 niños que cumplen años,
                        mostrar una alerta por pantalla informando.
                    </p>
                    <p>
                        11. Crea un script que permita saber quién cumple años en un mes den concreto. Debe de reconocer al
                        menos 10 fechas de cumpleaños (créalas como variables) y el usuario debe introducir el mes del que
                        quiere saber los cumpleaños y mostrar por pantalla su nombre. Es decir: el usuario introducirá
                        “febrero” y mostrará por pantalla quién cumple años en febrero de las 10 personas que “conoce”.
                    </p>
                </article>
                
            </section>
        </div>

<!-- Footer -->
        <footer id="footer">
            <div class="copyright"><a href="../index.html">&copy; Nerea Álvarez Justel</a></div>
        </footer>
    </body>
</html>